/*======================================
	ThemesBazar common style start
======================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.theme-bg{
    background-color: #02897B;
}
a{
    text-decoration: none;
}
/*======================================
	ThemesBazar common style end
======================================*/


/*======================================
	ThemesBazar Hero top style start
======================================*/
.hero-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.ma-code{
    color: #ffffff;
    margin-left: 50px;
}

.auth-btns a{
    color: #02897B;
    background-color: #ffffff;
    padding: 10px 20px;
}

.auth-btns a:last-child{
    margin-right: 50px;
}

.auth-btns a:first-child{
    margin-right: 10px;
}

/*======================================
	ThemesBazar Hero top style End
======================================*/

/* Hero title style start */
.hero-title{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title img{
    width: 150px;
    height: 150px;
    margin: 5px 20px 0px 0px;
}

.institute-title{
    font-size: 2rem;
    text-align: center;
}
/* Hero title style End */

/* navigation section style start */
.nav-container{
    height: 70px;
}

.nav ul{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.nav ul li a{
    color: #ffffff;
}

.nav ul li{
    list-style-type: none;
    margin-right: 30px;
    font-weight: bold;
    transition: .4s;
}

.nav ul li:last-child{
    margin-right: 0;
}

.nav ul li:hover{
    background-color: #10c1b2;
    padding: 0px 20px;
}
/* navigation section style end */


/* notice sliding text styles start */
.notice-slide-text{
    height: 80px;
    display: flex;
    align-items: center;
}

.inside-border{
    border: 1px solid #02897B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 50px;
    margin: 0 auto;
}
.notice{
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 20px;
}
marquee{
    font-size: 1.2rem;
}
/* notice sliding text styles end */


/* card section styles start */
.theme-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 80px;
}

.theme-image img {
    width: 700px;
    height: 450px;
    border: 25px solid white;
}

.card-container {
    height: 600px;
}

.card-body {
    width: 700px;
    height: 430px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 13px;
}


.card {
    font-size: 1.5rem;
    color: #02897B;
    text-align: center;
    font-weight: bold;
    border: 2px solid #02897B;
    margin: 13px;
    background-color: rgba(2, 137, 123, .2);
}

.card i {
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 45px;
}
/* card section styles end */


/* notice section styles start */
.notice-container {
    width: 95%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.notice-card {
    height: 700px;
    width: 850px;
    background-color: #02897B;
}

.notice-title {
    text-align: center;
    margin-top: 40px;
}

.notice-card h1 {
    color: #02897B;
    background-color: white;
    display: inline;
    padding: 20px 300px;
    font-size: 2.5rem;
}

.notice-body div {
    color: white;
    margin-top: 30px;
    font-size: 1.4rem;
    padding: 0px 50px;
}

.notice-body div:first-child {
    margin-top: 70px;
}

.notice-btn {
    text-align: center;
}

.notice-btn button {
    border: none;
    background-color: white;
    color: #02897B;
    font-size: 1.5rem;
    padding: 10px 40px;
    margin-top: 40px;
}

.notice-btn i {
    margin-right: 10px;
}
/* notice section styles end */


/* history section styles start */
.history-container {
    background-color: #02897B;
    height: 400px;
}

.history-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}

.history-container img {
    width: 200px;
    margin-right: 30px;
}

.history-detail {
    color: white;
    font-size: 1.2rem;
}

.history-detail p {
    margin-top: 20px;
}

.history-detail button {
    float: right;
    border: none;
    background-color: white;
    color: #02897B;
    padding: 10px 20px;
    font-size: 1.3rem;
    margin-top: 50px;
}

.history-detail i {
    margin-right: 10px;
}
/* history section styles end */


/* testimonial section styles start */
.testimonial-container {
    height: 400px;
    display: flex;
    justify-content: center;
}

.testimonial-card {
    background-color: rgba(2, 137, 123, .2);
    display: flex;
    align-items: center;
    width: 800px;
    height: 350px;
    border: 2px solid #02897B;
    padding: 40px;
    margin: 25px 15px;
}

.card-header img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #02897B;
}

.card-header {
    text-align: center;
    color: #02897B;
    margin-bottom: 90px;
}

.testimonial-body {
    width: 400px;
    margin-left: 50px;
    font-size: 1.2rem;
}

.testimonial-body button {
    float: right;
    border: none;
    background-color: #02897B;
    color: white;
    padding: 10px 20px;
    font-size: 1.3rem;
    margin-top: 50px;
}

.testimonial-body i {
    margin-right: 10px;
}
/* testimonial section styles end */