/*======================================
	ThemesBazar common style start
======================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.theme-bg{
    background-color: #02897B;
}
a{
    text-decoration: none;
}
/*======================================
	ThemesBazar common style end
======================================*/


/*======================================
	ThemesBazar Hero top style start
======================================*/
.hero-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.ma-code{
    color: #ffffff;
    margin-left: 50px;
}

.auth-btns a{
    color: #02897B;
    background-color: #ffffff;
    padding: 10px 20px;
}

.auth-btns a:last-child{
    margin-right: 50px;
}

.auth-btns a:first-child{
    margin-right: 10px;
}

/*======================================
	ThemesBazar Hero top style End
======================================*/

/* Hero title style start */
.hero-title{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title img{
    width: 150px;
    height: 150px;
    margin: 5px 20px 0px 0px;
}

.institute-title{
    font-size: 2rem;
    text-align: center;
}
/* Hero title style End */

/* navigation section style start */
.nav-container{
    height: 70px;
}

.nav ul{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.nav ul li a{
    color: #ffffff;
}

.nav ul li{
    list-style-type: none;
    margin-right: 30px;
    font-weight: bold;
    transition: .4s;
}

.nav ul li:last-child{
    margin-right: 0;
}

.nav ul li:hover{
    background-color: #10c1b2;
    padding: 0px 20px;
}
/* navigation section style end */


/* notice sliding text styles start */
.notice-slide-text{
    height: 80px;
    display: flex;
    align-items: center;
}

.inside-border{
    border: 1px solid #02897B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 50px;
    margin: 0 auto;
}
.notice{
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    padding: 15px 20px;
}
marquee{
    font-size: 1.2rem;
}
/* notice sliding text styles end */


/* card section styles start */
.theme-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 80px;
}

.theme-image img {
    width: 700px;
    height: 450px;
    border: 25px solid white;
}

.card-container {
    height: 600px;
}

.card-body {
    width: 700px;
    height: 430px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 13px;
}


.card {
    font-size: 1.5rem;
    color: #02897B;
    text-align: center;
    font-weight: bold;
    border: 2px solid #02897B;
    margin: 13px;
    background-color: rgba(2, 137, 123, .2);
}

.card i {
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 45px;
}
/* card section styles end */