/*======================================
	ThemesBazar common style start
======================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.theme-bg{
    background-color: #02897B;
}
a{
    text-decoration: none;
}
/*======================================
	ThemesBazar common style end
======================================*/


/*======================================
	ThemesBazar Hero top style start
======================================*/
.hero-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.ma-code{
    color: #ffffff;
    margin-left: 50px;
}

.auth-btns a{
    color: #02897B;
    background-color: #ffffff;
    padding: 10px 20px;
}

.auth-btns a:last-child{
    margin-right: 50px;
}

.auth-btns a:first-child{
    margin-right: 10px;
}

/*======================================
	ThemesBazar Hero top style End
======================================*/

/* Hero title style start */
.hero-title{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title img{
    width: 150px;
    height: 150px;
    margin: 5px 20px 0px 0px;
}

.institute-title{
    font-size: 2rem;
    text-align: center;
}
/* Hero title style End */

